body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: aliceblue;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: gold;
}
header{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 15px;
}

.Titulo-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Titulo-boton input{
    width: 700px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px 5px 5px 5px;
    border: 2;
    outline: none;
}


/* CSS para catalogo ---------------------------------------------------------------------------------------*/
.Menu-lateral{
    width: 100%;
    max-width: 250px;
    height: 100vh;
}


.item {
    border-radius: 10px;
}
.item:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.20);
}
.item:hover img{
    transform: scale(1.2);
}

.item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}
.item figure {
    overflow: hidden;
}

.container-items{
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.info-producto{
    padding: 0 40px;
    line-height: none;
    display: flex;
    flex-direction: column;
}
.Precio {
    font-size: 18px;
    font-weight: 900;
}
.info-producto button{
    border: none;
    background: none;
    background-color: black;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px ;
    }
    .container-items{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}