html {
    min-height: 100%;
    position: relative;
  }

body{
    font-family: sans-serif;
}
header a{
    text-decoration: none;
    color: aliceblue;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: gold;
}
header{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 15px;
}

.Titulo-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Titulo-boton input{
    width: 700px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px 5px 5px 5px;
    border: 2;
    outline: none;
}


.pie_pag{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 50px;
}

/*--------------------------------------- cuerpo de pagina--------------------*/
.contenedor{
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-top: 15px;
    height: 100%;
}
.contenedor .contenedor_carr {
    display: grid;
    grid-template-rows: 1fr 8fr 2fr ;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}
/* ---------------------------- Estilo para titulo de detalle auto  ----------------------------*/

.contenedor_carr .titulo_carr { 
    display: flex;
    flex-direction: row;
    color: black;
    border: 1px solid gainsboro;
    border-top: 5px solid black;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: 65px;
    align-items:center;
    padding-left: 10px;
    padding-right: 10px;
}
.titulo_carr img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    object-fit: scale-down;
}
.titulo_carr .Descripcion {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
}
.Descripcion .texto{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.Descripcion .texto2{
    color: black;
    font-size: 15px;
    font-weight:lighter;
    padding-top: 5px;
}
/* ----------------------------- Cierre para estilo para titulo de detalle auto  -----------------------------*/
/* ---------------------------- Estilo para carrusel detalle auto  -------------------------------------------*/
.contenedor_carr .carrusel_carr_auto {
    width: 100%;
    height: 700px;
    border-radius: 10px 10px 10px 10px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 80%;
      min-height: 679px;
      max-height: 680px;
      object-fit: cover;
      margin: auto;
  }
/* ----------------------------- Cierre para estilo carrusel en detalle auto  -------------------------------*/
.contenedor_carr .detalle_carr {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 0px 0px ;
    }
    .contenedor{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    }
    .Descripcion .texto2{
        color: black;
        font-size: 12px;
        font-weight:lighter;
        padding-top: 5px;
    }
    .contenedor .contenedor_carr {
        display: flex;
        flex-direction:column ;
        padding-left: 10px;
        padding-right: 10px; 
        padding-bottom: 10px;      
    }
    .contenedor_carr .carrusel_carr_auto {
        width: 100%;
        max-height: 300px;
        border-radius: 10px 10px 10px 10px;
        padding-top: 10px;
    }
    .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
      width: 80%;
      min-height: 300px;
      max-height: 300px;
      object-fit: cover;
      margin: auto;
  }
    .contenedor_carr .detalle_carr {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }

}