@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
.montserrat-body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: #212529;
    background-color: #f7f7f7;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}

/*
headeer top
*/
.topbar{
  background-color: #212529;
  padding: 0;
}

.topbar .container .row {
  margin:-7px;
  padding:0;
}

.topbar .container .row .col-md-12 { 
  padding:0;
}

.topbar p{
  margin:0;
  display:inline-block;
  font-size: 13px;
  color: #f1f6ff;
}

.topbar p > i{
  margin-right:5px;
}
.topbar p:last-child{
  text-align:right;
} 

header .navbar {
    margin-bottom: 0;
}

.topbar li.topbar {
    display: inline;
    padding-right: 18px;
    line-height: 52px;
    transition: all .3s linear;
}

.topbar li.topbar:hover {
    color: #1bbde8;
}

.topbar ul.info i {
    color: #131313;
    font-style: normal;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.topbar ul.info li {
    float: right;
    padding-left: 30px;
    color: #ffffff;
    font-size: 13px;
    line-height: 44px;
}

.topbar ul.info i span {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 18px;
}

ul.social-network {
  border:none;
  margin:0;
  padding:0;
}

ul.social-network li {
  border:none;  
  margin:0;
}

ul.social-network li i {
  margin:0;
}

ul.social-network li {
    display:inline;
    margin: 0 5px;
    border: 0px solid #2D2D2D;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 32px;
    vertical-align: baseline;
    color: #000;
}

ul.social-network {
  list-style: none;
  margin: 5px 0 10px -25px;
  float: right;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
    color: #fff;
}
a {
  color: #0a0a0a;
  text-decoration: none;
}

li {
    list-style-type: none;
}
.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bg-dark {
    background-color: #222!important;
}

.mx-background-top-linear {
    background: -webkit-linear-gradient(45deg, #FFC00A 48%, #1b1e21 48%);
    background: -webkit-linear-gradient(left, #FFC00A 48%, #1b1e21 48%);
    background: linear-gradient(45deg, #FFC00A 48%, #1b1e21 48%);
}

/*--------------------------------------- cuerpo de pagina--------------------*/
.contenedor{
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-top: 15px;
    height: 100%;
}
.contenedor .contenedor_carr {
    display: grid;
    grid-template-rows: 1fr 8fr 2fr ;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    padding-top: 100px;
}
/* ---------------------------- Estilo para titulo de detalle auto  ----------------------------*/

.contenedor_carr .titulo_carr { 
    display: flex;
    flex-direction: row;
    color: black;
    border: 1px solid gainsboro;
    border-top: 5px solid black;
    border-radius: 10px 10px 10px 10px;
    width: 100%;
    height: 65px;
    align-items:center;
    padding-left: 10px;
    padding-right: 10px;
}
.titulo_carr img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    object-fit: scale-down;
}
.titulo_carr .Descripcion {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.Descripcion .texto{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.Descripcion .texto2{
    color: black;
    font-size: 15px;
    font-weight:lighter;
    padding-top: 5px;
}
.Descripcion .id_t {
    color: #FFC00A;
    font-size: 15px;
    font-weight: bold;
}
/* ----------------------------- Cierre para estilo para titulo de detalle auto  -----------------------------*/
/* ----------------------------- Inicio carrusel detalle auto  -----------------------------*/

.carrusel {
    position: relative;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.imagen-grande img {
    width: 100%; 
    height: 600px;
    object-fit: scale-down;
    transition: transform 0.3s ease;
}

.miniaturas {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.miniatura {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.miniatura:hover {
    transform: scale(1.1);
}

.miniatura:active {
    border-color: #007bff;
}

/* Flechas de navegación */
.carrusel .flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    user-select: none;
}

.carrusel .flecha.izquierda {
    left: 10px;
}

.carrusel .flecha.derecha {
    right: 10px;
}

.carrusel .flecha:hover {
    background-color: rgba(0, 0, 0, 0.7);
}



/* ----------------------------- Cierre carrusel  detalle auto  -----------------------------*/
.contenedor_carr .detalle_carr {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-top: 25px;
    width: 100%;
}
.desc_costo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.carrusel_carr_auto {
    position: relative;
}
.carrusel_carr_auto .imagen-r {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 75%; /* Ajusta el tamaño de la imagen pequeña */
    height: auto; /* Ajusta el tamaño de la imagen pequeña */
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 0px 0px ;
    }
    .contenedor{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    }
    .Descripcion .texto2{
        color: black;
        font-size: 12px;
        font-weight:lighter;
        padding-top: 5px;
    }

    .contenedor .contenedor_carr {
        display: flex;
        flex-direction:column ;
        padding-left: 10px;
        padding-right: 10px; 
        padding-bottom: 10px;  
        border-radius: 10px 10px 10px 10px;    
    }

    /*---------------- */
    
    .carrusel {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
    } 
    .carrusel .imagen-grande img {
        width: 100%; 
        height: 100%; 
        object-fit: scale-down; 
        transition: transform 0.3s ease;
        padding-top: 10px;
        padding-bottom: 10px;
    }    
    .carrusel .miniaturas {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-top: 0;
        flex-wrap: wrap;
        width: 100%;
        overflow: hidden;
    }    
    .carrusel .miniatura {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border: 2px solid #ccc;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    .miniaturas img {
        width: 30px;
        height: 30px;
    }
    .carrusel .imagen-grande {
        margin-bottom: 0;
    }
    /* Estilo para las flechas */
    .carrusel .flecha {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 1.5rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 10;
        user-select: none;
    }
    .carrusel .flecha.izquierda {
        left: 10px;
    }
    .carrusel .flecha.derecha {
        right: 10px;
    }
    .carrusel .flecha:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }
        
    /*--------------------------------------*/

    .contenedor_carr .detalle_carr {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }

    .contenedor_carr .titulo_carr { 
        display: flex;
        flex-direction: row;
        color: black;
        border: 1px solid gainsboro;
        border-top: 5px solid black;
        border-radius: 10px 10px 10px 10px;
        width: 100%;
        height: 100%;
        align-items:center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .Descripcion .texto{
        color: black;
        font-size: 15px;
        padding-top: 10px;
        font-weight: bold;
    }
    .Descripcion .texto2{
        color: black;
        font-size: 12px;
        font-weight:lighter;
        padding-top: 5px;
    }
    .titulo_carr .Descripcion {
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }

    .mx-background-top-linear {
        background: -webkit-linear-gradient(45deg, #FFC00A 70%, #1b1e21 26%);
        background: -webkit-linear-gradient(left, #FFC00A 70%, #1b1e21 26%);
        background: linear-gradient(45deg, #FFC00A 70%, #1b1e21 26%);
      }

}